.container {
  width: 100%;
  height: 100%;

  color: white;

  .header {
    display: flex;

    width: 100%;

    justify-content: center;

    .form-field {
      width: 40px;
    }

    .x {
      margin: 0 10px;
      padding-top: 15px;
    }

    button {
      margin-top: 10px;
      margin-left: 10px;

      height: 30px;
      line-height: unset;
    }
  }

  canvas {
    background-color: black;
    max-width: 100%;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer {
    border-top: 1px solid white;
    margin-top: 8px;
    padding-top: 8px;

    display: flex;
    flex-direction: column;

    .form-field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.last {
        margin-bottom: 16px;

        mat-checkbox {
          margin-right: 12px;
        }
      }
    }

    hr {
      width: 100%;
      margin: 0 0 16px 0;
    }

    .setting {
      width: 100%;

      mat-form-field {
        width: calc(100% - 48px);
      }

      mat-icon {
        margin-left: 12px;
        cursor: help;
        user-select: none;
      }
    }
  }
}
